recipe {
  name "Chili sin carne"
  tags "vegan" "mexican" "spicey" "savory" "tortillas"

  key-info {
    i "Dish" "Dinner"
    // Better syntax: i "Dish" "Dinner" // so we can use a string a display value for the "key" of the key info
    i "Total time" "45 mins"
  }

  ingredients serving=2 {
    i "butter" 1 "tbsp"
    i "rice" 75 "g" "basmati"
    i "onion" 1
    i "garlic" 1 "clove"
    // "bell pepper" 2
    // kidney beans: 1 can
    // corn: 1 small can
    // tomato paste: 140g can
    // tortillas medium: 6
    // vegetable stock: 150ml
    // pepper (or harisa if you like spicey): to taste
  }

  instructions \
    "Dice the onion" \
    "Dice the bell peppers, dice the garlic and crush it with the flat side of your knife" \
    "Heat up the butter in a large skillet" \
    "Fry the diced onion until translucent"
}
