recipe {
  name "Orzo with olives and feta"
  tags "veggie" "greek" "savory" "pasta" "1-pan-dish"
  duration minutes=60

  image "/images/recipe-orzo-olives-feta.webp"

  ingredients serving=2 {
    ingredient "olive oil" {
      amount 3 "tbsp"
    }
    ingredient "orzo" {
      amount 300 "g"
    }
    ingredient "shallots" {
      amount 2
    }
    ingredient "garlic" {
      amount 1 "clove"
    }
    ingredient "bell pepper" {
      amount 2
    }
    ingredient "eggplant" {
      amount 2
    }
    ingredient "olives" {
      amount 200 "g"
    }
    ingredient "feta" {
      amount 200 "g"
    }
    ingredient "panko" "breadcrumbs" {
      amount 140 "g"
    }
    ingredient "salt" {
      to-taste
    }
    ingredient "pepper" {
      to-taste
    }
    ingredient "mediterranean herbs" {
      to-taste
    }
  }

  instructions {
    step "Peel and dice the eggplants"
    step "Dice the bell peppers"
    step "Heat up the olive oil in a large skillet"
    step "Fry the eggplants on low-medium heat with the lid on"
    step "Peel and slice the shallots in half rings. Peel dice and crush the garlic"
    step "Add the diced bell peppers and crushed garlic to the eggplants and stir. Let the veggies simmer on low heat for a couple of minutes"
    step "Bring 3:1 water:orzo to a boil, add some salt and cook the orzo al dente in about 10 minutes"
    step "Add the sliced shallots to the veggies and stir"
    step "Season the veggies using salt, pepper and the mediterranean herbs to taste"
    step "Dice the olives roughly, add them to the veggies and stir"
    step "Drain the orzo and rinse with cold water to stop the cooking process"
    step "Add the orzo to the veggies"
    step "Finely dice the feta cheese, add the panko, some olive oil and mix"
    step "Add the feta to the veggies and pasta and stir"
  }
}
