recipe {
  name "Pasta with broccoli, leek, and herb cheese"
  tags "veggie" "italian" "pasta" "easy" "1-pan-dish" "savory" "greens"
  duration minutes=30

  image "/images/recipe-pasta-broccoli-leek-herb-cheese.webp"

  instructions serving=4 {
    step "Clean the broccoli and cut it into small florets." {
      ingredient "broccoli" {
        amount 1
      }
    }
    step "Clean the leeks and slice them into rings." {
      ingredient "young leek" {
        amount 2
      }
    }
    step "Peel and chop the onion." {
      ingredient "onion" {
        amount 1
      }
    }
    step "Cook the pasta al dente in lightly salted water." {
      ingredient "pasta" "whichever works" {
        amount 400 "g"
      }
      ingredient "salt" {
        to-taste
      }
    }
    step "Heat the olive oil in a pot and sauté the onion and broccoli." {
      ingredient "olive oil" {
        amount 2 "tbsp"
      }
    }
    step "Add the cream, leek, and stock cubes." {
      ingredient "cream" {
        amount 300 "ml"
      }
      ingredient "vegetable stock cube" {
        amount 2
      }
    }
    step "Let it simmer for 7 minutes on a low heat."
    step "Stir the herb cheese into the sauce. Season with salt and pepper." {
      ingredient "herb cheese" {
        amount 200 "g"
      }
      ingredient "salt" {
        to-taste
      }
      ingredient "pepper" {
        to-taste
      }
    }
    step "Drain the pasta and add it to the pan with sauce and mix well."
  }
}
