recipe {
  name "Salmon trout with pesto parmesan crust and spring vegetables"
  tags "savory" "fish" "greens" "olives" "intermediate"

  key-info {
    info "Total time" "1 hour"
  }

  image "/images/recipe-salmon-pesto-spring-veggies.webp"

  ingredients serving=4 {
    ingredient "salmon trout fillets" {
      amount 4
    }
    ingredient "baby potatoes" "small ones" {
      amount 500 "g"
    }
    ingredient "shallot" {
      amount 1
    }
    ingredient "green beans" {
      amount 500 "g"
    }
    ingredient "broad beans" "frozen" {
      amount 250 "g"
    }
    ingredient "lemon" "zest and juice" {
      amount 1
    }
    ingredient "green olives" {
      amount 4 "tbsp"
    }
    ingredient "hazelnuts" {
      amount 2 "tbsp"
    }
    ingredient "pesto" "ready-made" {
      amount 185 "g"
    }
    ingredient "grated parmesan cheese" {
      amount 3 "tbsp"
    }
    ingredient "panko" "bread crumbs" {
      amount 3 "tbsp"
    }
    ingredient "olive oil" {
      to-taste
    }
    ingredient "pepper" {
      to-taste
    }
    ingredient "salt" {
      to-taste
    }
  }


  instructions {
    step "Preheat the oven to 180°C. Scrub the baby potatoes clean and cook them until tender in lightly salted water in about 20 minutes."
    step "Clean the green beans and blanch them in lightly salted water. Add the broad beans for the last minute."
    step "Toast the hazelnuts in a dry pan and chop them coarsely."
    step "Chop the olives coarsely."
    step "Mix the panko with the parmesan"
    step "Season the salmon fillets with salt and pepper and spread a spoonful of pesto on them. Sprinkle the panko and parmsan mix over the fillets."
    step "Bake the fish in the oven for 15 minutes."
    step "Peel and mince the shallot. Drain both types of beans and the potatoes and let the moisture evaporate."
    step "Heat olive oil in a pan and sauté the shallot. Add the baby potatoes, both types of beans, and the olives. Also add the lemon juice, grated lemon zest and hazelnuts. Season everything with salt and pepper."
    step "Serve the crusted salmon with the potato and green bean mix."
  }
}
