recipe {
  name "Salmon trout with pesto parmesan crust and spring vegetables"
  tags "savory" "fish" "greens" "olives" "intermediate"
  duration minutes=60

  image "/images/recipe-salmon-pesto-spring-veggies.webp"

  instructions serving=4 {
    step "Preheat the oven to 180°C. Scrub the baby potatoes clean and cook them until tender in lightly salted water in about 20 minutes." {
      ingredient "baby potato" "small ones" {
        amount 500 "g"
      }
      ingredient "salt" {
        to-taste
      }
    }
    step "Clean the green beans and blanch them in lightly salted water. Add the broad beans for the last minute." {
      ingredient "green beans" {
        amount 500 "g"
      }
      ingredient "broad beans" "frozen" {
        amount 250 "g"
      }
    }
    step "Toast the hazelnuts in a dry pan and chop them coarsely." {
      ingredient "hazelnuts" {
        amount 2 "tbsp"
      }
    }
    step "Chop the olives coarsely." {
      ingredient "green olives" {
        amount 4 "tbsp"
      }
    }
    step "Mix the panko with the parmesan" {
      ingredient "panko" "bread crumbs" {
        amount 3 "tbsp"
      }
      ingredient "grated parmesan cheese" {
        amount 3 "tbsp"
      }
    }
    step "Season the salmon fillets with salt and pepper and spread a spoonful of pesto on them. Sprinkle the panko and parmsan mix over the fillets." {
      ingredient "salmon trout fillets" {
        amount 4
      }
      ingredient "pepper" {
        to-taste
      }
      ingredient "salt" {
        to-taste
      }
      ingredient "pesto" "ready-made" {
        amount 185 "g"
      }
    }
    step "Bake the fish in the oven for 15 minutes."
    step "Peel and mince the shallot. Drain both types of beans and the potatoes and let the moisture evaporate." {
      ingredient "shallot" {
        amount 1
      }
    }
    step "Heat olive oil in a pan and sauté the shallot. Add the baby potatoes, both types of beans, the olives and the hazelnuts. Season everything with salt and pepper." {
      ingredient "olive oil" {
        to-taste
      }
      ingredient "pepper" {
        to-taste
      }
      ingredient "salt" {
        to-taste
      }
    }
    step "Serve the crusted salmon with the potato and green bean mix."
  }
}
