recipe {
  name "Zucchini soup with chicken"
  tags "savory" "1-pan-dish" "easy"

  key-info {
    info "Dish" "Dinner"
    info "Total time" "45 mins"
  }

  image "/images/recipe-zucchini-soup.webp"

  ingredients serving=4 {
    ingredient "zucchini" {
      amount 500 "g"
    }
    ingredient "onions" {
      amount 1
    }
    ingredient "garlic" {
      amount 1 "clove"
    }
    ingredient "potato" "waxy" {
      amount 1
    }
    ingredient "vegetable broth" {
      amount 750 "ml"
    }
    ingredient "chicken thigh fillet" "boneless" {
      amount 4
    }
    ingredient "salt" {
      to-taste
    }
    ingredient "pepper" {
      to-taste
    }
    ingredient "olive oil" {
      to-taste
    }
  }

  instructions {
    step "Season the chicken with salt and lots of pepper, rub it with olive oil"
    step "Grill the chicken in a grilling pan until cooked and brown"
    step "Slice the chicken and set aside"
    step "Dice the zucchini in medium sized chunks"
    step "Peel and dice the onion roughly"
    step "Peel and dice the garlic rougly"
    step "Prepare the vegetable broth"
    step "Heat up some olive oil in a large soup pot and fry the zucchini, onions and garlic on medium heat for about 10 minutes"
    step "Peel and dice the potato rougly"
    step "Add the potato and vegetable broth to the soup and let it simmer for about 20 minutes"
    step "Season the soup with a bit of pepper"
    step "Blend the soup with a hand blender until it is smooth"
    step "Season the soup to taste with salt and pepper"
  }
}
